html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    color: rgb(8, 8, 95);
    background-color: rgb(245, 245, 220);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto 200px;
}

.recipe {
    list-style: none;
    display: inline-block;
    border: 2px solid rgb(240, 108, 108);
    padding: 50px 20px;
    margin: 20px;
    height: 200px;
    width: 200px;
}

h1 {
    border-bottom: 5px double rgb(240, 108, 108);
    border-width: 100%;
    padding-bottom: 10px;
}

.food {
    image-orientation: center;
    margin-bottom: 20px;
}

.description,
.ingredients,
.method {
    border-top: 2px solid rgb(240, 108, 108);
    margin: 20px auto;
}

.method {
    border-bottom: 2px solid rgb(240, 108, 108);
    margin-bottom: 100px;
}
